gensim==3.8.3
matplotlib==3.3.3
neattext==0.0.9

streamlit==0.72.0
textblob==0.15.3
wordcloud==1.8.1

spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
